.cal-page-section {
  padding: 10%;
}
.cal-page-area {
  display: flex;
  padding: 3%;
  position: relative;
  border: 2px solid plum;
  margin: 2px;
  justify-content: start;
}

.cal-headline {
  text-align: center;
  color: #ed4290;
  font-size: 3.2rem;
}

.full-date-cal-page {
  display: flex;
  display: block;
  text-align: center;
  padding: 10px;
  width: 15rem;

  & h1 {
    font-size: 3rem;
  }
  & h4 {
    font-size: 2rem;
  }
}

.date-cal {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
}
.month-cal {
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
}

.time-cal {
  font-size: 0.8rem;
  opacity: 0.8;
  text-align: left;
}

.details-cal {
  //background: chartreuse;
  padding: 2px;
  margin: 0;
  justify-items: flex-end;
  & p {
    color: red;
  }
}

.flex-cal {
  display: flex;
  justify-content: start;
  //background: blue;
}

.title-cal {
  background: #ed4290;
  border-radius: 50px;
  padding: 20px;
  justify-content: center;
  color: white;
}
