.hero-section {
  position: relative;
  color: chartreuse;
  margin-top: -35px;
}

.hero-section-text h2 {
  position: absolute;
}

.announcement {
  background: #ed4290;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
