.header {
  background: white;
  padding: 0px;
  top: 10px;
}

// #logo a {
//   color: blue;
//   background: #ed4290;
// }

.top-nav li a {
  color: red;
}

.nav,
.top-nav,
.cf {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.7rem;
  //color: red;
}

.logo-circle {
  background: #ed4290;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: block;
  position: relative;
}

.logo-text h1 {
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  display: block;
  color: white;
  width: 7.7rem;
  left: 12%;
  top: 8%;
}

.socials li {
  //can I pass an array here????
  background: greenyellow;
}

.nav {
  display: block;
  padding: 0;
}

.announcement {
  background: #ed4290;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}
