.news-section {
  background: #f37f2c;
  padding: 40px;
  position: relative;
}

.carousel-item.make-this-flex {
  display: flex;
  flex-direction: row;
}

.news {
  // flex: 1;
  // display: flex;
  // flex-direction: row;

  display: inline-block;
  background: white;
  padding: 0px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 300px;
}

.news p {
  padding: 10px 10px 5px 15px;
}

.news-section h1 {
  color: white;
  padding: 15px 0 0 0;
}

.news-content h1 {
  padding: 0px 10px 5px 15px;
  margin: 0;
  font-size: 1.4rem;
}

.news-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.news-section .title {
  color: black;
}

.news-post-date {
  font-size: 0.8rem;
  opacity: 0.33;
}
.news-post-date {
  padding: 0;
  margin: 0;
}

.news:hover .title {
  color: #642d8c;
}
.news:hover {
  border-radius: 10px;
}

.wp-post-image {
  object-fit: cover;
}
