.twitter-section {
  //box-sizing: border-box;
  background: #ec418f;
  color: white;
  width: 100%;
  margin: 0;
  padding: 20px 70px 30px 60px;
}

.tw-headline h1 {
  margin: 0;
}

.twitter-section p {
  margin: 10px;
}

.twitter-button {
  background: #f067a5;
  border-radius: 15px;
  padding: 10px 30px;
  //text-align: center;
  color: blue;
  font-size: 0.5rem;
}
