.header {
  background: white;
}

// #logo a {
//   color: blue;
//   background: #ed4290;
// }

.top-nav li a {
  color: red;
}

.nav,
.top-nav,
.cf {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.7rem;
  //color: red;
}

// .wrap h1 {
//   height: 150px;
//   width: 150px;
//   display: table-cell;
//   text-align: center;
//   // vertical-align: center;
//   padding: 5%;
//   border-radius: 50%;
//   margin: 0;
//   background: #ed4290;
// }
.logo-circle {
  background: #ed4290;
  border-radius: 50%/50%;
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
  //vertical-align: middle;
  //position: relative;
}

// .logo-circle h1 {
//   position: absolute;
// }
.socials li {
  //can I pass an array here????
  background: greenyellow;
}

.nav {
  display: block;
  padding: 0;
}

.announcement {
  background: #ed4290;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}
